/*Color Theme*/

$color-primary: #0097D6;
$color-accent: #00BBE3;
$color-light: #FAFBFE;
$color-dark: #666666;
$color-white: #ffffff;
$color-ripple: $color-accent;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MyFont-l";
    src: url(../fonts/HelveticaNeueLight.ttf) format("truetype");
}

@font-face {
    font-family: "MyFont-b";
    src: url(../fonts/HelveticaNeueBd.ttf) format("truetype");
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'MyFont-l';
    box-sizing: border-box;
    background: $color-light;
    width: 100%;
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 0 15%;
}

.header_container {
    background: $color-white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; // box-shadow: 0px 0px 3px 1px rgba($color: #000000, $alpha: .2);
    box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.header {
    display: flex;
    width: 100%;
    height: 53px;
    align-items: center;
    z-index: 100;
    &__logo {
        width: 80px;
        margin: 0px 20px;
    }
    &__nav {
        &__list {
            display: flex;
            list-style: none;
            & li a,
            & li a:visited {
                color: $color-dark;
                font-size: 1.7rem;
                font-weight: bold;
                text-decoration: none;
                display: block;
                width: 100px;
                height: 53px;
                line-height: 53px;
                text-align: center;
            }
            & li a:hover {
                background-color: $color-light;
            }
            & li a.active {
                color: $color-accent;
                border-bottom: 2px solid $color-accent;
            }
        }
    }
    &__search_box {
        flex: 1;
        height: 30px;
        display: flex;
        align-items: center;
        border-radius: 5px;
        & i {
            color: $color-dark;
            opacity: .6;
            margin-left: 10px;
            margin-right: 5px;
            font-size: 1.3rem;
            position: absolute;
        }
        & input {
            border: none;
            height: 100%;
            flex: 1;
            padding: 0 30px;
            border: 1px solid rgba($color: $color-dark, $alpha: .3);
            border-radius: 5px;
            outline: 0;
        }
    }
    &__que_btn {
        & a {
            text-decoration: none;
            color: $color-light;
            background-color: $color-primary;
            width: 100px;
            height: 30px;
            display: block;
            text-align: center;
            line-height: 30px;
            margin-left: 15px;
            font-size: 1.2rem;
            font-family: 'MyFont-b';
            border-radius: 5px;

            &:active {
                transform: skewX(-10deg);
            }
        }
    }
    &__profileView {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 10px;
        &:hover {
            background-color: $color-light;
        }
        & img {
            border-radius: 50%;
            width: 26px;
            height: 26px;
        }
    }
}

.section {
    margin-top: 80px;
    width: 100%;
    &__main {
        width: 100%;
        padding: 10px 30px;
        &__listView {
            overflow: auto;
            widows: 100%;
            min-height: 300px;
            padding-left: 15%;
            padding-right: 15%;
            padding-bottom: 5%;
            list-style: none;
            & li {
                background-color: $color-white;
                margin-top: 10px;
                widows: 100%;
                box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, .15);
                padding: 2% 4%;
                border-radius: 10px;
                .addQueProfileView {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    & img {
                        width: 40px;
                        height: 40px;
                    }
                    & h3 {
                        font-size: 1.7rem;
                        font-weight: bold;
                        margin-left: 15px;
                        color: rgba($color: $color-dark, $alpha: .5);
                    }
                    & p {
                        margin-left: 15px;
                        color: rgba($color: $color-dark, $alpha: .5);
                    }
                    & .quePostedUsrName {
                        font-weight: bold;
                        font-size: 2rem;
                        color: $color-dark;
                    }
                }
                & h1 {
                    color: rgba($color: $color-dark, $alpha: .5);
                    font-family: 'MyFont-b';
                    padding: 10px 0px;
                    letter-spacing: 1.5px;
                    cursor: pointer;
                    font-size: 2.7rem;
                }
                & p {
                    font-size: 1.5rem;
                    font-weight: bold;
                    letter-spacing: 1px;
                    color: $color-dark;
                }
                & .queTitle {
                    font-family: 'MyFont-b';
                    padding: 10px 0px;
                    letter-spacing: 1.5px;
                    color: $color-dark;
                    cursor: pointer;
                    font-size: 2.7rem;
                }
                & .bottomControll {
                    margin-top: 20px;
                    position: relative;
                    z-index: 50;
                    & i {
                        font-size: 2rem;
                        color: $color-dark;
                        &:nth-child(2) {
                            position: absolute;
                            right: 0px;
                        }
                    }
                    & span {
                        font-size: 1.7rem;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}


// Model
.backdrop {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba($color: #000000, $alpha: .2);
    z-index: 200;
    display: none;
}

.model_container {
    display: none;
 }

.model {
    width: 40%;
    min-height: 35%;
    position: absolute;
    top: 40%;
    left: 50%;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    background-color: $color-white;
    z-index: 300;
    border-radius: 20px;
    overflow: hidden;

    &__exit {
        text-align: right;
        padding: 10px;

        & span {
            font-size: 1.5rem;
            font-family: 'Ubuntu';
            font-weight: 700;
            color: $color-dark;
            margin-right: 10px;
            padding: 5px;
            cursor: pointer;
        }
    }
    &__inputbox {
        width: 100%;
        padding: 10px 20px;
        flex: 1;

        & input {
            background-color: $color-white;
            width: 100%;
            font-size: 2rem;
            font-family: 'Ubuntu';
            color: $color-dark;
            font-weight: 500;
            border: none;
            border-bottom: .5px solid rgba($color: $color-dark, $alpha: .3);
            padding-bottom: 30px;
            outline: none;
        }
    }

    &__bottom {
        padding: 10px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: rgba($color: $color-dark, $alpha: .2);

        &__cancel {
            display: inline-block;
            width: 100px;
            color: $color-dark;
            font-size: 1.5rem;
            margin-left: 20px;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        &__add {
            display: inline-block;
            width: 100px;
            height: 30px;
            color: $color-white;
            font-family: 'Ubuntu';
            background-color: $color-primary;
            text-align: center;
            line-height: 30px;
            font-size: 1.5rem;
            text-decoration: none;
            border-radius: 5px;
            position: absolute;
            right: 20px;

            &:active {
                transform: skew(-15deg);
            }
        }
    }
}

.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        background-image: radial-gradient(circle, $color-ripple 10%, transparent 10.01%);
        background-repeat: no-repeat;
        background-position: 50%;
        transform: scale(10, 10);
        opacity: 0;
        transition: transform 0.5s, opacity 1s;
    }

    &:active:after {
        transform: scale(0, 0);
        opacity: 0.3;
        transition: 0s;
    }
}

// Gaurav Css

.section__main__listView2 {
    overflow: auto;
    widows: 100%;
    min-height: 300px;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    list-style: none;
  }
  
  .section__main__listView2 li {
    border:1px solid #E1E4E9;
    background-color: #ffffff;
    widows: 100%;
    padding: 2% 4%;
  }
  
  .section__main__listView2 li .addQueProfileView {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
  }
  
  .section__main__listView2 li .addQueProfileView img {
    width: 40px;
    height: 40px;
  }
  
  .section__main__listView2 li .addQueProfileView h3 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-left: 15px;
    color: rgba(102, 102, 102, 0.5);
  }
  
  .section__main__listView2 li .addQueProfileView p {
    margin-left: 15px;
    color: rgba(102, 102, 102, 0.5);
  }
  
  .section__main__listView2 li .addQueProfileView .quePostedUsrName {
    font-weight: bold;
    font-size: 2rem;
    color: #666666;
  }
  
  .section__main__listView2 li h1 {
    color: rgba(102, 102, 102, 0.5);
    font-family: 'MyFont-b';
    padding: 10px 0px;
    letter-spacing: 1.5px;
    cursor: pointer;
    font-size: 2.7rem;
  }
  
  .section__main__listView2 li p {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #666666;
  }
  
  .section__main__listView2 li .queTitle2 {
    font-family: 'MyFont-b';
    padding: 10px 0px;
    letter-spacing: 1.5px;
    color: #666666;
    cursor: pointer;
    font-size: 2.3rem;
  }
  
  .section__main__listView2 li .bottomControll {
    margin-top: 20px;
    position: relative;
    z-index: 50;
  }
  
  .section__main__listView2 li .bottomControll i {
    font-size: 2rem;
    color: #666666;
  }
  
  .section__main__listView2 li .bottomControll i:nth-child(2) {
    position: absolute;
    right: 0px;
  }
  
  .section__main__listView2 li .bottomControll span {
    font-size: 1.7rem;
    margin: 0 10px;
  }
  
  a{
      text-decoration: none;
      color: #777D87;
  }
  a:hover{
      text-decoration: underline;
  }
  .ans-btn:hover{
      cursor: pointer;
      font-weight: bold;
  }


// Scrollbar
::-webkit-scrollbar {
    width: 10px;
    position: relative;
    margin-right: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba($color: $color-dark, $alpha: .7); 
    border-radius: 10px;
}

// Media Queries
@media(max-width: 1100px) {
    .container {
        padding: 0 10%;
    }
}

@media(max-width: 960px) {
    .container {
        padding: 0 5%;
    }
}

@media(max-width: 850px) {
    .container {
        padding: 0 10px;
    }
}